#savePageButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 267px;
}

#slidesUpdateSuccessNotif {
    position: fixed;
    bottom: 160px;
    right: 0px;
    width: 315px;
}

#testUpdateSuccessNotif {
    position: fixed;
    bottom: 240px;
    right: 0px;
    width: 315px;
}

#errorNotification {
    position: fixed;
    bottom: 320px;
    right: 0px;
    width: 315px;
}

#savingNotif {
    position: fixed;
    bottom: 80px;
    right: 0px;
    width: 315px;
}

.filloutquestion {
    position: fixed;
    bottom: 400px;
    right: 0px;
    width: 315px;
}
