/* body {
    background: linear-gradient(
        -45deg,
        hsla(141, 53%, 70%, 1),
        hsla(141, 53%, 85%, 1),
        hsl(0, 0%, 95%),
        hsla(204, 86%, 85%, 1),
        hsla(204, 86%, 70%, 1)
    );
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    font-family: "Noto Sans TC", sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */
